@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global styles */
body {
  font-family: system-ui, sans-serif;
  background-color: #f9fafb; /* soft gray background */
  color: #171717; /* default text color */
}

html {
  transition: background-color 0.2s ease, color 0.2s ease;
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slideDownFade 0.6s ease-out forwards;
}
